.container {
    text-align: center;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.column div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    font-size: 176px;
}

body {
	background-color: blue;
}

.container div {
	background-color: white;
}